.carro {
   align-self: flex-end;
   position: relative;
   display: flex;
   flex-direction: column;
}

.carro__cabine {
   width: 170px;
   height: 120px;
   align-self: center;
   position: relative;
}

.carro__cabine--janela {
   width: 100px;
   height: 80px;
   background-color: var(--bg) !important;
   position: absolute;
   top: 20px;
   left: 60px;
}

.carro__corpo {
   width: 300px;
   height: 70px;
}

.carro__roda {
   width: 60px;
   height: 60px;
}

.carro__roda:nth-child(4) {
   align-self: flex-end;
   position: absolute;
   align-self: flex-end;
   position: absolute;
   bottom: 0;
}