.conteudoPrincipal {
   max-width: 90%;
   margin: 3em auto;
   padding: 0 1rem;
   background-color: #1c1c1c;
}

.conteudo {
   display: grid;
   grid-template-columns: 10fr 3.5fr;
   grid-gap: 1rem; 
}

@media only screen and (max-width: 768px) {
   .conteudoPrincipal {
      margin: 0 auto;
   }
}