/* ------ CONTENT ------ */
.content {
   margin: 6rem 0 2rem;
   padding: 0 20px;
   color: var(--branco);
}


/* ------ SUBCONTENT ------ */
.subcontent {
   display: flex;
   flex-direction: column;
}

.subcontent-img {
   width: 50%;
   height: 180px;
   margin: auto;
   overflow: hidden;
   border-radius: 50%;
}

.subcontent-img > img {   
   transform: translateY(-15.3025%);
}

.subcontent-infos {
   margin-top: 3rem;
}

.subcontent-infos > .subtext {
   color: var(--cor-sub);
}

.subcontent-infos > .text {
   font-size: 2.2rem;
   margin-bottom: 3rem;
}

.subcontent-infos > p {
   font-size: 1.1079rem;
   color: var(--cor-sub);
   margin-bottom: 1.3rem;
}

@media screen and (min-width: 425px) {
   .subcontent-img {
      width: 50%;
      height: 200px;
   }
}

@media screen and (min-width: 760px) {
   .subcontent {
      flex-direction: row;
   }

   .subcontent-img {
      flex: 1;
      height: 180px;
      margin-right: 30px;
   }

   .subcontent-infos {
      margin-top: 1rem;
      flex: 2;
   }

   .subcontent-infos > .text {
      font-size: 2.2rem;
      margin-bottom: 1rem;
   }
}