/* ------ CONTENT ------ */
.content {
  margin: 6rem 0 2rem;
  padding: 0 1.25rem;
  color: var(--white);
}

/* ------ SUBCONTENT ------ */
.subcontent {
  display: flex;
  flex-direction: column;
}

.subcontent-img {
  width: 50%;
  height: 11.25rem;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
}

.subcontent-img > img {
  transform: translateY(-15.3025%);
}

.subcontent-infos {
  margin-top: 3rem;
}

.subcontent-infos > .subtext {
  color: var(--gray);
}

.subcontent-infos > .text {
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.subcontent-infos > p {
  font-size: 1.1079rem;
  color: var(--gray);
  margin-bottom: 1.3rem;
}

@media screen and (min-width: 425px) {
  .subcontent-img {
    width: 50%;
    height: 12.5rem;
  }
}

@media screen and (min-width: 760px) {
  .subcontent {
    flex-direction: row;
  }

  .subcontent-img {
    flex: 1;
    height: 11.25rem;
    margin-right: 1.875rem;
  }

  .subcontent-infos {
    margin-top: 1rem;
    flex: 2;
  }

  .subcontent-infos > .text {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
}
