.conteudoPrincipal {
   max-width: 90%;
   margin-left: auto;
   margin-right: auto;
   padding: 0 1rem;
}

.conteudo {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
   grid-gap: 1rem; 
}