.flor {
   display: flex;
   flex-direction: column;
   align-self: flex-end;
   position: relative;
}

.flor__miolo {
   width: 50px;
   height: 50px;
   align-self: center;
   position: absolute;
   bottom: 165px;
}

.flor__caule {
   width: 15px;
   height: 100px;
   align-self: center;
   position: absolute;
   bottom: 70px;
}

.flor__folha {
   width: 30px;
   height: 30px;
   position: absolute;
   left: 35px;
   top: -8px;
   transform: rotate(90deg);
}

.flor__vaso {
   width: 140px;
   height: 100px;
   transform: rotate(180deg);
}

.flor__petalas {
   width: 70px;
   height: 70px;
   position: absolute;
   bottom: 165px;
}

.flor__petalas:nth-child(1) {
   right: -7px;
   bottom: 120px;
}

.flor__petalas:nth-child(2) {
   right: -5px;
   bottom: 195px;
}

.flor__petalas:nth-child(3) {
   bottom: 195px;
   left: -5px;
}

.flor__petalas:nth-child(4) {
   bottom: 120px;
   left: -6px;
}