:root {
  --heart-color: #3c484e;
}

footer {
  color: var(--white);
  width: 100%;
  margin: 2rem 0;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 10rem 1fr;
  grid-template-rows: repeat(2, 1.7rem);
  font-family: 'Pixel', verdana;
}

footer p {
  grid-column: 2 / 3;
  grid-row: 1;
  text-align: center;
  color: var(--heart-color);
}

.hearts {
  display: inline-flex;
  grid-column: 2 / 3;
  grid-row: 2;
}

/* prettier-ignore */
.heart {
   width: var(--pixel);
   height: var(--pixel);
   margin: 0 1rem;

   box-shadow:
   calc( var(--pixel) * 4 ) 0 var(--heart-color),
   calc( var(--pixel) * 5 ) 0 var(--heart-color),
   calc( var(--pixel) * 7 ) 0 var(--heart-color),
   calc( var(--pixel) * 8 ) 0 var(--heart-color),

   calc( var(--pixel) * 3 ) var(--pixel) var(--heart-color),
   calc( var(--pixel) * 4 ) var(--pixel) var(--heart-color),
   calc( var(--pixel) * 5 ) var(--pixel) var(--heart-color),
   calc( var(--pixel) * 6 ) var(--pixel) var(--heart-color),
   calc( var(--pixel) * 7 ) var(--pixel) var(--heart-color),
   calc( var(--pixel) * 8 ) var(--pixel) var(--heart-color),
   calc( var(--pixel) * 9 ) var(--pixel) var(--heart-color),

   calc( var(--pixel) * 3 ) calc( var(--pixel) * 2) var(--heart-color),
   calc( var(--pixel) * 4 ) calc( var(--pixel) * 2) var(--heart-color),
   calc( var(--pixel) * 5 ) calc( var(--pixel) * 2) var(--heart-color),
   calc( var(--pixel) * 6 ) calc( var(--pixel) * 2) var(--heart-color),
   calc( var(--pixel) * 7 ) calc( var(--pixel) * 2) var(--heart-color),
   calc( var(--pixel) * 8 ) calc( var(--pixel) * 2) var(--heart-color),
   calc( var(--pixel) * 9 ) calc( var(--pixel) * 2) var(--heart-color),

   calc( var(--pixel) * 4 ) calc( var(--pixel) * 3) var(--heart-color),
   calc( var(--pixel) * 5 ) calc( var(--pixel) * 3) var(--heart-color),
   calc( var(--pixel) * 6 ) calc( var(--pixel) * 3) var(--heart-color),
   calc( var(--pixel) * 7 ) calc( var(--pixel) * 3) var(--heart-color),
   calc( var(--pixel) * 8 ) calc( var(--pixel) * 3) var(--heart-color),

   calc( var(--pixel) * 5 ) calc( var(--pixel) * 4) var(--heart-color),
   calc( var(--pixel) * 6 ) calc( var(--pixel) * 4) var(--heart-color),
   calc( var(--pixel) * 7 ) calc( var(--pixel) * 4) var(--heart-color),

   calc( var(--pixel) * 6 ) calc( var(--pixel) * 5) var(--heart-color);
}

/* prettier-ignore */
.half-heart {
   width: var(--pixel);
   height: var(--pixel);
   margin: 0 1rem;   

   box-shadow:
   calc( var(--pixel) * 7 ) 0 var(--heart-color),
   calc( var(--pixel) * 8 ) 0 var(--heart-color),

   calc( var(--pixel) * 6 ) var(--pixel) var(--heart-color),
   calc( var(--pixel) * 7 ) var(--pixel) var(--heart-color),
   calc( var(--pixel) * 8 ) var(--pixel) var(--heart-color),
   calc( var(--pixel) * 9 ) var(--pixel) var(--heart-color),

   calc( var(--pixel) * 6 ) calc( var(--pixel) * 2) var(--heart-color),
   calc( var(--pixel) * 7 ) calc( var(--pixel) * 2) var(--heart-color),
   calc( var(--pixel) * 8 ) calc( var(--pixel) * 2) var(--heart-color),
   calc( var(--pixel) * 9 ) calc( var(--pixel) * 2) var(--heart-color),

   calc( var(--pixel) * 6 ) calc( var(--pixel) * 3) var(--heart-color),
   calc( var(--pixel) * 7 ) calc( var(--pixel) * 3) var(--heart-color),
   calc( var(--pixel) * 8 ) calc( var(--pixel) * 3) var(--heart-color),

   calc( var(--pixel) * 6 ) calc( var(--pixel) * 4) var(--heart-color),
   calc( var(--pixel) * 7 ) calc( var(--pixel) * 4) var(--heart-color),

   calc( var(--pixel) * 6 ) calc( var(--pixel) * 5) var(--heart-color);
}
