.cabecalho {
   box-shadow: 0px 2.5px 3.5px #0c0c0c;
   color: #fafafa;
}

.cabecalho a {
   display: none;
}

.cabecalho > .titulo {
   margin: 1em;
   text-shadow: 0px 6px 3px #111;
}

.btnMenu {
   color: white;
   text-shadow: 0px 6px 3px #111;
   background-color: inherit;
   outline: none;
   border: none;
   font-size: 1.333em;
   display: block;
   float: right;
   margin: -2.55em 1em;
}