.intro {
   display: flex;
   justify-content: space-between;
   margin: 0 auto 200px;
   width: 90%;
}

.intro > .circulo {
   width: 70px;
   height: 70px;
}

.intro > .quadrado {
   width: 70px;
   height: 70px;
}

.intro > .retangulo {
   width: 130px;
   height: 70px;
}

.intro > .triangulo {
   width: 70px;
   height: 70px;
}

.intro > .trapezio {
   width: 80px;
   height: 70px;
   clip-path: polygon(30% 40%, 70% 40%, 100% 100%, 0 100%);
}