.main-header {
   font-family: 'Pixel', verdana;
   font-size: 20px;
   color: var(--branco);
   padding: 20px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   position: sticky;
   top: 0;
   z-index: 1;
   background-color: var(--preto);
}