.main-header {
  font-family: 'Pixel', verdana;
  font-size: 1.25rem;
  color: var(--white);
  padding: 1.25rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--black);
}
