.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  font-size: 1.875rem;
}

@media screen and (min-width: 760px) and (max-width: 1440px) {
  .menu {
    width: 25%;
  }
}

@media screen and (min-width: 1440px) {
  .menu {
    width: 20%;
  }
}

.link {
  color: var(--white);
  text-decoration: none;
  border-bottom: 0.125rem solid var(--accent);
  transition: 0.2s;
  position: relative;
  width: max-content;
}

.link:hover {
  color: var(--accent);
}

.sandbox-icon {
  width: 1.875rem;
  height: 1.875rem;
  filter: invert(100%);
  transition: filter 0.15s;
}

.sandbox-icon:hover {
  filter: invert(37%) sepia(20%) saturate(3000%) hue-rotate(226deg);
}