.cabecalho a.aberto {
   display: block;
   
   position: relative;
}

.cabecalho a {
   margin: 1em 1.5em;
   color: gray;
   text-decoration: none;
   transition: 250ms;
}
   .cabecalho a:hover {
      color: #fafafa;
   }

.redesSociais {
   display: flex;
}

.fa {
   transition: 250ms;
   margin-right: -1em;
}

.fa-instagram:hover {
   color: #c33;
}

.fa-twitter:hover {
   color: #33c;
}