body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   font-family: sans-serif;

   background-color: #1C1C1C;
}

.navbar { 
   width: 100%;
   display: flex;
   background-color: #202020;
   position: sticky;
   top: 0;

   z-index: 1;
}

.titulo h2 { color: white; margin: 1em 3em;}

.navbar-link {
   color: gray;
   padding-right: 2em;   
   text-decoration: none;
   transition: 300ms;
}
   .navbar-link:hover {
      color: #8533ee;  
      text-decoration: none;
   }

.navbar-itens {
   display: flex;
   margin: 1.7em auto;
}

.navbar-itens-direita { margin-left: auto; }

.botao-menu { display: none; }

.fa {
   color: gray;
   transition: 300ms;
}

.fa-instagram:hover {
   color: #c33;
}

.fa-twitter:hover {
   color: #33c;
}

@media only screen and (max-width: 768px) {
  .navbar-itens,
  .navbar {
      flex-direction: column;
   }
    
   .navbar-itens { display: none; margin: 0;}
       
   .navbar-itens-direita { margin-left: 0; }
       
   .navbar-mostrar { display: flex; }
       
   .botao-menu {
      align-self: flex-end;
      margin: 0.9em 0;
      display: initial;
      position: absolute;
      cursor: pointer;
      font-size: 5vh;
      color: white;
   } 
}