.perfil {
   margin: auto;
}

.perfil figure {
   width: 8.125rem;
   height: 8.125rem;
   border-radius: 50%;
   margin-right: 2rem;

   box-shadow:
      inset 1px 1px 1px #B7B3B380,
      inset 1px 2px 2px #B7B3B360,
      inset 1px 4px 4px #B7B3B340,
      inset 1px 8px 8px #B7B3B320,

      inset -1px -1px 1px #FFFFFF,
      inset -1px -2px 2px #FFFFFF90,
      inset -1px -4px 4px #FFFFFF80,
      inset -1px -8px 8px #FFFFFF70;
}

.perfil figure img {
   width: 80%;
   height: 80%;
   margin: auto;
   border-radius: inherit;
}

.infos h1 {
   font-size: 1.9rem;
   margin-bottom: 8px;
}

.infos h4 {
   color: #B7B3B3;
}