.posts {
   color: #fafafa;
   padding: 1.288%;
}

.post {
   margin: 1em auto;
   border-radius: 7px;
   padding: 2.777%;
   background-color: #202020;
}

.post > .titulo {
   margin: 3.823% 0;
   border-bottom: 3px solid #1abb9c;
   width: max-content;

   font-size: 1.625em;
}

.post > .subtitulo {
   font-size: 0.975em;
   opacity: 0.5;
   margin: 2.888% 0;
}

.post > .descricao {
   margin: 0.7em 0;
   font-size: 1em;
   text-align: justify;
   color: #eee;
}

.post > .link {
   text-decoration: none;
   color: gray;
}
   .post > .link:hover {
      opacity: 0.4;
   }