.pinned-repos {
  width: 100%;
  grid-area: repos;
}

#repos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.repo-link {
  text-decoration: none;
  height: 100%;
  width: 100%;
  flex: 1 1 280px;
  border-radius: 5px;
  transition: background 0.2s, color 0.15s;
}
.repo-link:hover {
  background: var(--white);
  color: var(--black);
}

.repo-content {
  border: 1px solid var(--gray);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5rem;
  min-height: 7rem;
}

.repo-content h2 {
  font-size: 1.25rem;
}

.repo-content span {
  align-self: flex-end;
  position: absolute;
  bottom: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .repo-content h2 {
    font-size: auto;
  }
}
