.col-2 {
	float: none;
}

@media screen and (min-width: 768px) {
   .col-2, .barra-lateral, .rodape {      
      float: left;
   }

   .conteudo-principal {
      width: 96.444%; /* 340px */
   }

   .col-2 {
      width: 46.2532%;
      margin: 1em 1.8226%;
   }

   .barra-lateral {
      width: 100%;
      float: left;
   }

   .post > .titulo {
      left: -9.9882%;
   }
}