.sorvete {
   align-self: flex-end;   
   position: relative;
}

.sorvete > .pote {
   transform: rotate(180deg);
   width: 300px;
   height: 180px;
}

.sorvete > .bola {
   width: 160px;
   height: 160px;
   position: absolute;
}

.sorvete > .bola:nth-child(2) {
   bottom: 70px;
   left: 10px;
}

.sorvete > .bola:nth-child(3) {
   bottom: 70px;
   right: 10px;
}

.sorvete > .bola:nth-child(4) {
   bottom: 160px;
   left: 50px;
}

.sorvete > .colher {
   width: 40px;
   height: 120px;
   border: 3px solid var(--cor);
   position: absolute;
   top: -220px;
   left: 50px;
   transform: rotate(-30deg);
   background-color: var(--bg) !important;
}