@import url(css/main.css);
@import url(css/main-header.css);
@import url(css/content.css);
@import url(css/menu.css);
@import url(css/menu-desktop.css);
@import url(css/post.css);
@import url(css/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
   --preto: #001119;
   --preto-2: #121C21;

   --branco: #DFD5D1;

   --realce: #9230FB;
   --realce-claro: #B690FF;

   --font-primaria: 'Pixel', sans-serif;
   --font-secundaria: 'Roboto Mono', verdana, sans-serif;
   
   --pixel: 0.2rem;
}

@font-face {
   font-family: 'Pixel';
   src: url('pixel.ttf');
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   margin: 0;
   font-family: var(--font-secundaria);   
   background-color: var(--preto);
}

a {
   color: var(--branco);
   text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--preto-2); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--preto); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}