@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --black: #111113;
  --gray: #9e9e9e;
  --white: #f6f6f6;

  --accent: #9230fb;

  --primary-font: 'Pixel', sans-serif;
  --secondary-font: 'Roboto Mono', verdana, sans-serif;

  --pixel: 0.2rem;
}

@font-face {
  font-family: 'Pixel';
  src: url('pixel.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  margin: 0;
  font-family: var(--secondary-font);
  background-color: var(--black);
}

a {
  color: var(--white);
  text-decoration: none;
}

button {
  font-family: var(--secondary-font);
}

p {
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--gray);
}

img {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
