.rodape {
   grid-area: footer;
}

.rodape {
   padding: 15.0208%;
   text-align: center;
   width: 100%;
   background-color: #25242A;
   color: #e6e6e6;
   font-size: 0.9em;
}

.redes-sociais {
   margin-top: 1.2em;
}

.redes-sociais a {   
   color: #e6e6e6;
   font-size: 0.725em;
   margin: 0 0.7em;
}

.redes-sociais a:hover {
   border-bottom: 3px solid #6f4aa9;
}