.cabecalho {
   grid-area: header;
   width: 100%;
   padding: 1em;
   background: #353b48;
   box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.05);

   position: fixed;
   top: 0;
   z-index: 1;
}

.itens-cabecalho {
   width: 92.2941%;   
   display: flex;
   flex-direction: column;

   justify-content: center;

   margin: 0 auto;
}

.menu {
   display: none;
   list-style: none;
}

.menu ul {
   list-style: none;
   margin-top: 1.125rem;
}

.menu li {
   margin: 1.3em 0;
}

.menu-link {
   padding-bottom: 5px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.aberto {
   display: block;
}

.botao-menu {
   align-self: flex-end;
   margin-top: -1.9375rem;
   outline: none;
   background: none;
   border: none;
   color: #F4F4F4;

   font-size: 1.4rem;
}

.titulo-site {
   width: max-content;
   font-size: 1.5em;
}