.perfil {
   width: 40%;
   padding: 10px;
   border-radius: 6px;

   position: absolute;
   top: 82.8%;
   left: 38.3624%;
   transform: translate(-23%, -23%);

   background-color: #e6e6e6;
}

.foto {
   float: left;
   width: 23%;
   margin: 2.08em 0.7em;
}

.foto > img {
   max-width: 100%;
   max-height: 100px;
   border-radius: 50%;
}

.perfil > .descricao {
   width: 100%;
   padding: 1.8125rem;
}

.descricao > h4 {
   margin-top: 0.4em;
   margin-bottom: 0.6em;
}