.div-conteudo {
   display: grid;

   width: 98.875%;
   
   grid-template-areas: 
      "header"
      "main"
      "footer";
   
   grid-template-columns: 1fr;
   grid-template-rows: auto;
}