@import url('../css/header/header.css');
@import url('../css/header/perfil.css');
@import url('../css/footer/footer.css');
@import url('./page.css');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: arial, sans-serif;
   font-size: 16px;
   background-color: #fafafa;

   scroll-behavior: smooth;
}

p {
   line-height: 1.5;
}

a {
   text-decoration: none;
   color: #eee;
}