.container-post {
   width: 96.875%;
   max-width: 100%;
   margin: 7em auto;
   color: #dcdde1;
}

.titulo-post {
   font-size: 1.75em;
   margin-bottom: 1.25em;
}

.subtitulo {
   color: #888;
   margin-top: 1.25em;
   margin-bottom: 1.7em;
   font-size: 17px;
}

.titulo-secao {
   font-size: 1.8em;
   margin-bottom: 1.3em;
}

.subtitulo-secao {
   font-size: 1.3em;
   margin: 1.7em 0;
   margin-left: 10px;
}

.subtitulo-secao:before {
   content: '';
   position: relative;
   right: 10px;
   padding: 2px;
   background: #EA7213;
}

.container-post a { color: #8c7ae6; font-weight: bold; }

.container-post a:visited { color: #8c7ae6; }

.container-post a:hover { color: #b9acf7; }

p {
   font-size: 1.14em;
   margin-bottom: 1.6rem;
   text-align: left;
}

ul {
   font-size: 1.2em;
   margin: 2rem 0;
   list-style: none;
   line-height: 1.5;   
   color: #dcdde1;
}

li {
   margin: 0.7em 0;
}

section:before {
   content: '';
   display: block;
   height: 5em;
}


@media screen and (min-width: 425px) {
   p {
      font-size: 1.25em;
   }
}

@media screen and (min-width: 768px) {
   .container-post {
      width: 84.875%;
   }

   .titulo-post {
      font-size: 2.0625em;
      margin-bottom: 1.25em;
   }

   .subtitulo {
      color: gray;
      margin-top: 1.25em;
      margin-bottom: 1.7em;
      font-size: 1.25em;
   }

   .titulo-secao {
      font-size: 1.8em;
      margin-bottom: 1.3em;
   }

   .subtitulo-secao {
      font-size: 1.3em;
      margin-bottom: 1.3em;
   }

   p {
      font-size: 1.4em;
      text-align: justify;
   }

   ul {
      font-size: 1.32em;
   }

   li {
      margin: 0.7em 0;
   }
}

@media screen and (min-width: 1024px) {
   .container-post {
      width: 66.875%;
   }

   p {
      font-size: 1.4em;
   }

   ul {
      font-size: 1.32em;
   }

   li {
      margin: 0.7em 0;
   }
}

@media screen and (min-width: 1360px) {
   .container-post {
      width: 55.875%;
   }
}  