.container-post {
   width: 44em;
   max-width: 100%;
   margin: 10em auto;
}

.titulo-post {
   font-size: 2.5em;
   margin-bottom: 1.25em;
}

.titulo-secao {
   font-size: 2.2em;
   margin-bottom: 1.3em;
}

.subtitulo {
   color: gray;
   margin-top: 1.25em;
   margin-bottom: 2em;
   font-size: 1.7em;
}

.subtitulo-secao {
   font-size: 1.7em;
   margin-bottom: 1.3em;
}

.destaque {
   color: #6f4aa9;
}

.container-post a { color: #6f4aa9; font-weight: bold; }

.container-post a:visited { color: #6f4aa9; }

.container-post a:hover { color: #EA7213; }

p {
   font-size: 1.5em;
   margin-bottom: 2rem;
   text-align: justify;
}

ul {
   font-size: 1.5em;
   margin: 2rem 0;
   list-style: none;
   line-height: 1.5;   
   color: #222;
}

li {
   margin: 0.7em 0;
}

section:before {
   content: '';
   display: block;
   height: 6.5em;
}
