@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
   --preto: #001119;
   --preto-2: #121C21;

   --branco: #DFD5D1;

   --realce: #9230FB;
   --realce-claro: #B690FF;

   --font-primaria: 'Roboto Mono', verdana, sans-serif;
   --font-secundaria: 'Roboto', verdana, sans-serif;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   background-color: var(--preto);
   color: var(--branco);
   scroll-behavior: smooth;
}

a {
   text-decoration: none;
   color: var(--branco);
}


/* ------ FIXAR BOTÃO DE VOLTAR ------ */
.fixar {
   position: fixed;
   top: 1rem;
   left: 5%;
   border-bottom: none !important;
}

.fixar:hover {
   color: gray;
}

@media screen and (min-width: 1200px) {
   .fixar {
      left: 7.5%;
   }
}


/* ------ BOTÃO VOLTAR------ */ 

.btn-voltar {
   color: var(--branco);
   text-decoration: none;
   font-size: 16px;
   padding: 10px 0;
   padding-bottom: 3px;
   border-bottom: 2px solid var(--realce);
}

.btn-voltar:hover {
   border-bottom: 2px solid var(--realce-claro);
}

.btn-voltar::before {
   content: '←';
   margin-right: 10px;
}

/* ------ BOTÃO VOLTAR AO TOPO ------ */ 

.btn-voltar-topo {
   position: fixed;
   bottom: 20px;
   right: 20px;
   text-decoration: none;
   background-color: var(--branco);
   transition: all 0.1s;
   padding: 16px;
   border-radius: 50%;
   display: flex;
   opacity: 0.5;   
}

.btn-voltar-topo::after {
   content: '';
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 0 5px 10px 5px;
   border-color: transparent transparent var(--preto) transparent;
   
   margin: auto;

}

.btn-voltar-topo:hover {
   
}

/* ------ POST ------ */

.post-container {
   margin: 1rem auto;
   font-family: var(--font-secundaria);
   padding: 10px 14px;
}

.post__titulo {
   font-family: var(--font-primaria);
   font-size: 40px;
   font-weight: bold;
   margin: 50px 0 100px;
}

.post__section {
   margin-bottom: 50px;
}

.post__section--title {
   margin-bottom: 20px;
   color: var(--realce-claro);
   font-size: 28px;
}

.post__section--content {
   width: 100%;
   text-align: left;
}

.post__section--content p {
   margin-bottom: 1rem;
   line-height: 1.5;
   font-size: 7.1vw;
}

@media screen and (min-width: 350px) {
   .post__section--content p {
      font-size: 6.1vw;
   }
}

@media screen and (min-width: 700px) {
   .post-container {
      width: 36rem;
   }

   .post__titulo {
      font-size: 55px;
   }

   .post__section--content p {
      font-size: 3.2vw;
      margin-bottom: 1.5rem;
      word-spacing: 4px;
   }

   .post__section--title {
      font-size: 1.6rem;
   }
}

@media screen and (min-width: 1200px) {
   .post-container {
      width: 40rem;
   }

   .post__section--content p {
      font-size: 2.2vw;
      margin-bottom: 1.7rem;
   }
}