.post {
   margin-bottom: 5em;
}

.post hr {
   position: relative;
   top: 50px;

   border: 0;
   height: 1px;
   background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.post > .titulo {
   margin: 1rem 0;
   line-height: 1.25;
   font-size: 1.6875em;
}

.post > .subtitulo {
   opacity: 0.7;
   margin-bottom: 1.3rem;
   font-size: 1.3125em;
}

.post > .img {
   max-width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #6f4aa9;
   color: #fafafa;
   height: 200px;
}

.post > .img h1 {
   font-size: 1.875em;
}

.post > p {
   margin-top: 1.25rem;
   margin-bottom: 2.2em;
   font-size: 1.12em;
}

.post > a {
   padding: 0.8rem 2rem;
   background: transparent;
   box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
   text-decoration: none;
   color: #6f4aa9;
   outline: none;
   border: 2px solid #6f4aa9;
   border-radius: 5px;
   font-weight: bold;
   transition: 150ms;
}

.post > a:hover {
   background-color: #6f4aa9;
   color: #fafafa;
   transform: scale(1.05);
}

.post > a:active {
   transform: scale(.95);
}

@media screen and (min-width: 1024px) {
   .post {
      margin: 2.3em 1.25em;
      margin-bottom: 7em;
      width: 77.2868%;
   }

   .post > .titulo {
      margin: 1.2rem 0;
      line-height: 1.25;
      font-size: 2.3em;
   }

   .post > .img { height: 300px; }
   .post > .img h1 { font-size: 3.625em; }

   .post > a { padding: 1rem 2.2rem; }
}