.post {
   margin-bottom: 5em;
   color: #EDEEEE;
}

.post hr {
   position: relative;
   top: 50px;

   border: 0;
   height: 1px;
   background-image: -webkit-linear-gradient(left, #353b48, #dcdde1, #353b48);
}

.post > .titulo {
   margin: 1rem 0;
   line-height: 1.25;
   font-size: 1.6875em;
}

.post > .subtitulo {
   opacity: 0.7;
   margin-bottom: 1.3rem;
   font-size: 1.3125em;
}

.post > .img {
   max-width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #6f4aa9;
   color: #EDEEEE;
   height: 200px;
}

.post > .img h1 {
   font-size: 1.875em;
}

.post > p {
   margin-top: 1.25rem;
   margin-bottom: 2.4em;
   font-size: 1.12em;
}

.post > a {
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   background: transparent;
   outline: none;
   border: none;

   padding: 12px 30px;

   margin-top: 5rem;

   font-size: 1.2rem;
   
   color: #EDEEEE;
   transition: all .3s;
   position: relative; 
}

.post a:before, .post a:after {
   content: '';
   position: absolute;
      top: 0;
      left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   transition: all .3s;

   border-radius: 30px;
}

.post a:before {
   background: #ffffff1a;
}

.post a:after {
   border: 1px solid #ffffff80;
   opacity: 0;
   transform: scale(1.2);
}

.post a:hover:before {
   opacity: 0;
   transform: scale(.5);
}

.post a:hover:after {
   opacity: 1;
   transform: scale(1);
}

.post a i {
   position: relative;
      top: -2px;
      left: 10px;

   border: solid white;
   border-width: 0 3px 3px 0;
   display: inline-block;
   padding: .2rem;
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
}

@media screen and (min-width: 1024px) {
   .post {
      margin: 2.3em 1.25em;
      margin-bottom: 7em;
      width: 77.2868%;
   }

   .post > .titulo {
      margin: 1.2rem 0;
      line-height: 1.25;
      font-size: 2.3em;
   }

   .post > .img { height: 300px; }
   .post > .img h1 { font-size: 3.625em; }

<<<<<<< Updated upstream
   .post > a { padding: 1rem 2.2rem; }

   .post > a > b {
      right: 2.2rem;
      padding: 1rem; 
   }

   .post > a > b:before {
      top: 17px;
   }
}
=======
   .post > a { padding: .7rem 2.2rem; }
}
>>>>>>> Stashed changes
