@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (hover: hover) {
    a:hover {
      @apply text-accent bg-secondary transition-colors;
    }
  }

  /* --- THEMING --- */
  :root {
    --primary: 241 235 213;
    --secondary: 22 18 3;
    --accent: 243 211 95;

    --black: 22 18 3;
    --white: 241 235 213;
  }

  [data-theme='dark'] {
    --primary: var(--secondary);
    --secondary: var(--primary);
  }

  @font-face {
    font-family: 'MPLUSCodeLatin';
    src: url('./assets/MPLUSCodeLatin.ttf');
    font-display: swap;
  }

  /* SCROLLBAR */
  * {
    scrollbar-width: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
