@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 2.5ch;
    }
  }

  @media (hover: hover) {
    a:hover {
      @apply text-accent bg-secondary transition-colors;
    }

    .custom_hover:hover {
      @apply text-primary bg-secondary transition-colors;
    }
  }

  /* --- THEMING --- */
  :root {
    --black: 53 49 46;
    --white: 232 226 212;
    --body-bg: 214 199 174;

    --default-accent: 243 211 95;
    --green-accent: 95 187 134;
    --purple-accent: 149 142 236;
    --black-accent: 78 78 78;
    --blue-accent: 113 173 233;

    --primary: var(--white);
    --secondary: var(--black);
    --accent: var(--default-accent);

    scroll-behavior: smooth;
  }

  [data-mode='dark'] {
    --primary: var(--black);
    --secondary: var(--white);
  }

  [data-accent='green'] {
    --black: 20 21 20;
    --white: 239 245 242;
    --accent: var(--green-accent);
  }

  [data-accent='purple'] {
    --black: 20 20 21;
    --white: 240 240 245;
    --accent: var(--purple-accent);
  }

  [data-accent='black'] {
    --black: 20 20 20;
    --white: 243 243 243;
    --accent: var(--black-accent);
  }

  [data-accent='black'] h2 {
    color: white !important;
  }

  [data-accent='blue'] {
    --black: 7 10 14;
    --white: 233 236 239;
    --accent: var(--blue-accent);
  }

  @font-face {
    font-family: 'Farro';
    src: url('./assets/Farro-Regular.ttf');
    font-display: swap;
  }

  .accent_mark {
    width: max-content;
    height: max-content;
    position: relative;
  
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: -5px;
      z-index: -10;
      width: 105%;
      height: 70%;
      background-color: rgb(var(--accent));
    }
  }

  /* SCROLLBAR */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 1rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(var(--primary));
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(var(--secondary));
    border: 4px solid rgb(var(--primary));
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--accent));
  }
}
