@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (hover: hover) {
    a:hover {
      @apply text-accent bg-secondary transition-colors;
    }

    .custom_hover:hover {
      @apply text-primary bg-primary transition-colors;
    }
  }

  /* --- THEMING --- */
  :root {
    --accent: 243 211 95;

    --black: 20 16 1;
    --white: 241 235 213;

    --primary: var(--black);
    --secondary: var(--white);
  }

  [data-theme='dark'] {
    --primary: var(--white);
    --secondary: var(--black);
  }

  @font-face {
    font-family: 'MPLUSCodeLatin';
    src: url('./assets/MPLUSCodeLatin.ttf');
    font-display: swap;
  }

  /* SCROLLBAR */
  * {
    scrollbar-width: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
